@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.main {
  padding: 7%;
}

.trailsContainerRow{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p,div, h1, h2, h3, h4{
  font-family: 'Cabin', sans-serif;
}


.myHikes{
  width: 100%;
}

h1, h2 {
  color: #265D0C;
}

.btn-primary {
  background-color: #F2AF58;
  border: #F2AF58;
}

.btn-primary:hover{
  background-color: #419A1C;
  border: #419A1C;
  color: black;
}

.btn-light {
  background-color: #419A1C;
  border: #419A1C;
}

.btn-light:hover{
  background-color: #F2AF58;
  border: #F2AF58;
  color: black;
}


.menu::selection{
  color:white ;
  background: #419A1C !important;
}

.spin {
  color:  #419A1C;
}

.link {
 color:  #419A1C;
} 



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutRow {
  display: flex;
  justify-content: space-around;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #419A1C;
}

.signUpForm {
  margin: auto;
}

.error {
  color: red
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  color: #265D0C !important;
}
a:hover {
  color: #265D0C!important;
}
a:active {
  color: #265D0C !important;
}


.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #265D0C;
  border-bottom: 2px solid #265D0C;
}

.anticon:hover{
  color:  #419A1C !important;
}